* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button {
  color: #fafafa;
  background-color: #212121;
  border-radius: 30%;
}

input {
  border-radius: 20%;
  text-align: center;
}

.timer {
  display: flex;
  flex-direction: row;
 gap: 10px;
 margin: 15px;

}
.field {
   border-radius: 2px dashed gray;
}